<div id="page-wrapper">
    <main>
        <section class="transporter-header">
            <div class="row bg-title">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                    <h4 class="page-title">Dashboard</h4>
                </div>
                <div class="col-lg-4 col-sm-8 col-md-4 col-xs-12"></div>
                <div class="col-lg-5 col-sm-4 col-md-4 col-xs-12">
                    <div class="row"><span class="page-title">Address:</span> &nbsp;
                        <a href="https://ropsten.etherscan.io/address/{{account}}" target="_blank" class="info">{{account}}</a>
                    </div>
                    <div class="row"><span class="page-title">Balance:</span> &nbsp; <span class="info">{{balance}} Eth</span></div>
                </div>
            </div>
        </section>
        <section class="transporter-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="alert alert-info" id="divOngoingTransaction" style="display: none">Recent Transaction:
                        <span id="linkOngoingTransaction">None</span> </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div class="white-box bg-img">
                        <div class="bg-opacity">
                            <!-- <img class="img-insert" src="../../../assets/img/userdashbg/profile.jpg"> -->
                            <div class="row">
                                <div class="name-img">
                                    <span><i class="fas fa-user-ninja fa-9x name-circle"></i></span>
                                    <!-- </div> -->
                                    <!-- <div class="row"> -->
                                    <h4 id="userName">{{name}}</h4>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <!-- <div class="user-btm-box"> -->
                            <div class="col-lg-4 col-md-4 col-sm-4 text-center">
                                <p class="text-purple"><i class="fa fa-location-arrow" aria-hidden="true"></i>
                                    Location</p>
                                <h1>{{location}}</h1>
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-4 text-center">
                                <p class="text-blue"><i class="fa fa-briefcase"></i> Role</p>
                                <h1>{{role}}</h1>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 text-center">
                                <p class="text-danger"><i class="fa fa-cogs"></i> Settings</p>
                                <button type="button" class="btn btn-outline-dark">
                                    Edit
                                </button>
                            </div>
                            <!-- </div> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="white-box">

                        <div class="row" style="padding: 0px 0px 10px 0px">
                            <div class="col-md-6">
                                <h3 class="box-title">Consignment
                                    &nbsp;
                                    <span style="color:blue">{{packageCount}}</span>
                                    &nbsp;
                                    <button type="button" class="btn btn-default btn-sm" (click)="transportCount()">
                                        <img src="https://img.icons8.com/material/24/000000/update-left-rotation.png">
                                    </button>
                                </h3>

                            </div>
                            <div class="col-md-6" style="text-align: right;">
                                <button mat-raised-button data-toggle="modal" data-target="#createpackage1">Create Package</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-sm-12">

                                <ng-container>
                                    <div class="mat-elevation-z8 ">
                                        <div class="table-specification">
                                            <table mat-table [dataSource]="dataSource">
                                                    <ng-container matColumnDef="txtype">
                                                            <th mat-header-cell *matHeaderCellDef> Transporter Type </th>
                                                            <td mat-cell *matCellDef="let element"> {{element.TxType}} </td>
                                                        </ng-container>
                                                <ng-container matColumnDef="batchid" sticky>
                                                    <th mat-header-cell *matHeaderCellDef> BatchID </th>
                                                    <td mat-cell *matCellDef="let element">
                                                        <button type="button" class="btn btn-default btn-sm hh"
                                                            data-toggle="modal" data-target="#batchidinfo1" data-id="{{element.BatchID}}"
                                                            (click)="getPackageTx(element)">
                                                            {{element.BatchID}}
                                                        </button>
                                                    </td>
                                                </ng-container>
                                                <!-- <ng-container matColumnDef="description">
                                                    <th mat-header-cell *matHeaderCellDef> Description </th>
                                                    <td mat-cell *matCellDef="let element"> {{element.Description}}
                                                    </td>
                                                </ng-container> -->
                                                <!-- <ng-container matColumnDef="farmername">
                                                    <th mat-header-cell *matHeaderCellDef> Farmer Name </th>
                                                    <td mat-cell *matCellDef="let element"> {{element.FarmerName}} </td>
                                                </ng-container> -->
                                                <ng-container matColumnDef="location">
                                                    <th mat-header-cell *matHeaderCellDef> Location </th>
                                                    <td mat-cell *matCellDef="let element"> {{element.FarmLocation}}
                                                    </td>
                                                </ng-container>
                                                <ng-container matColumnDef="quantity">
                                                    <th mat-header-cell *matHeaderCellDef> Quantity </th>
                                                    <td mat-cell *matCellDef="let element"> {{element.Quantity}} </td>
                                                </ng-container>
                                                <ng-container matColumnDef="from">
                                                    <th mat-header-cell *matHeaderCellDef> Sender </th>
                                                    <td mat-cell *matCellDef="let element"> {{element.Supplier}} </td>
                                                </ng-container>
                                                <ng-container matColumnDef="to">
                                                    <th mat-header-cell *matHeaderCellDef> Reciever </th>
                                                    <td mat-cell *matCellDef="let element"> {{element.Receiver}} </td>
                                                </ng-container>
                                                <ng-container matColumnDef="status">
                                                    <th mat-header-cell *matHeaderCellDef> Status </th>
                                                    <td mat-cell *matCellDef="let element"> {{element.Status}} </td>
                                                </ng-container>
                                                <!-- Star Column -->
                                                <ng-container matColumnDef="star" stickyEnd>
                                                    <th mat-header-cell *matHeaderCellDef></th>
                                                    <td mat-cell *matCellDef="let element">
                                                        <mat-icon>more_vert</mat-icon>
                                                    </td>
                                                </ng-container>
                                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                            </table>
                                        </div>
                                        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <!-- Modal -->
    <div class="modal fade" id="batchidinfo1">
        <div class="modal-dialog modal-dialog-centered" role="document" style="z-index:11;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">BatchID:
                    </h5>
                    <div id="pick-deliver" >
                        <button type="button" class="btn btn-success" *ngIf="packageInfo.Status == 0 " (click)="pickPackage(packageInfo.Batch.BatchID,packageInfo.TxType,packageInfo.Batch.BatchID)">Pick</button>
                        <!-- <button type="button" class="btn btn-success" *ngIf="packageInfo.Status == 1 " (click)="rawPackageReceived(packageInfo.Batch.BatchID)">Recieve</button> -->
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <br>
                <div class="modal-body" id="batchinfodetails" *ngIf="packageInfo.Status > -1">
                    <div class="batchinfodetailsd white-box">
                        <div class="basicdetails">
                            <h3 class="box-title">Batch Basic Info
                            </h3>
                            <ul>
                                <li>
                                    <label>BatchID: </label>&nbsp;
                                    <span>{{packageInfo.Batch.BatchID}}</span>
                                </li>
                                <li>
                                    <label>Description: </label>&nbsp;

                                    <span>{{packageInfo.Batch.Description}}</span>
                                </li>
                                <li>
                                    <label>Farmer Name: </label>&nbsp;
                                    <span>{{packageInfo.Batch.FarmerName}}</span>
                                </li>
                                <li>
                                    <label> Farm Location: </label>&nbsp;
                                    <span>{{packageInfo.Batch.FarmLocation}}</span>
                                </li>
                                <li>
                                    <label>Quantity: </label>&nbsp;
                                    <span>{{packageInfo.Batch.Quantity}}</span>
                                </li>
                                <li>
                                    <label>Shipper: </label>&nbsp;
                                    <span>{{packageInfo.Batch.Shipper}}</span>
                                </li>
                                <li>
                                    <label>Receiver: </label>&nbsp;
                                    <span>{{packageInfo.Batch.Receiver}}</span>
                                </li>
                            </ul>
                            <div *ngIf="packageInfo.Batch.Done" class="success-right">
                                <i class="fas fa-clipboard-check fa-2x"></i>
                            </div>
                        </div>
                        <br>
                        <div class="shipperdetails">
                            <!-- *ngIf="packageInfo.Status > 0" -->
                            <h3 class="box-title">Batch Shipper Info
                            </h3>

                            <ul>
                                <li>
                                    <label>Shipper Name: </label>&nbsp;
                                    <span>{{packageInfo.Shipper.Name}}</span>
                                </li>
                                <li>
                                    <label>Shipper EthAddress: </label>&nbsp;
                                    <span>{{packageInfo.Shipper.EthAddress}}</span>
                                </li>
                                <li>
                                    <label>Shipper Location: </label>&nbsp;
                                    <span>{{packageInfo.Shipper.Location}}</span>
                                </li>
                            </ul>
                            <div *ngIf="packageInfo.Shipper.Done" class="success-right">
                                <i class="fas fa-clipboard-check fa-3x"></i>
                            </div>
                        </div>
                        <br>
                        <div class="manufacturerdetails">
                            <!-- *ngIf="packageInfo.Status > 1" -->
                            <h3 class="box-title">Batch Manufacturer Info
                            </h3>

                            <ul>
                                <li>
                                    <label>Manufacturer Name: </label>&nbsp;
                                    <span>{{packageInfo.Manufacturer.Name}}</span>
                                </li>
                                <li>
                                    <label>Manufacturer EthAddress: </label>&nbsp;
                                    <span>{{packageInfo.Manufacturer.EthAddress}}</span>
                                </li>
                                <li>
                                    <label>Manufacturer Location: </label>&nbsp;
                                    <span>{{packageInfo.Manufacturer.Location}}</span>
                                </li>
                            </ul>
                            <div *ngIf="packageInfo.Manufacturer.Done" class="success-right">
                                <i class="fas fa-clipboard-check fa-4x"> </i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    <!-- <button type="button" class="btn btn-primary" data-dismiss="modal">Save Changes</button> -->
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="modal fade" id="createpackage1">
        <div class="modal-dialog modal-dialog-centered" role="document" style="z-index:11;">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Raw Material Package</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="packageDetails">
                        <div class="form-group">
                            <label for="Description1">Description</label>
                            <input type="text" formControlName="description" class="form-control" id="Description1"
                                aria-describedby="descriptionHelp" placeholder="Enter Product Description">
                            <small id="descriptionHelp" class="form-text text-muted">Provide product description.</small>
                        </div>
                        <div class="form-group">
                            <label for="farmername1">Farmer Name</label>
                            <input type="text" formControlName="farmername" class="form-control" id="farmername1"
                                aria-describedby="farmernameHelp" placeholder="Enter Farmer Name">
                            <small id="farmernameHelp" class="form-text text-muted">Name must be under 16 char.</small>
                        </div>
                        <div class="form-group">
                            <label for="location1">Farm Location</label>

                            <div class="row" formGroupName="location" id="sublocation">
                                <div class="col">
                                    <label for="latitude1">Lat</label>
                                    <input type="text" formControlName="latitude" class="form-control" id="latitude1"
                                        placeholder="Latitude">
                                </div>
                                <div class="col">
                                    <label for="longitude1">Long</label>
                                    <input type="text" formControlName="longitude" class="form-control" id="longitude1"
                                        placeholder="Longitude">
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="quantity1">Quantity</label>
                            <input type="number" formControlName="quantity" class="form-control" id="quantity1"
                                aria-describedby="quantityHelp" placeholder="Enter qWuantity">
                            <small id="quantityHelp" class="form-text text-muted">Please provide number of units.</small>
                        </div>
                        <div class="form-group">
                            <label for="shipper1">Shipper Address</label>
                            <input type="text" formControlName="shipper" class="form-control" id="shipper1"
                                aria-describedby="shipperHelp" placeholder="Enter Shipper Ethereum Address">
                            <small id="shipperHelp" class="form-text text-muted">Please provide shipper valid public
                                ethereum
                                address.</small>
                        </div>
                        <div class="form-group">
                            <label for="receiver1">Receiver Address</label>
                            <input type="text" formControlName="receiver" class="form-control" id="receiver1"
                                aria-describedby="receiverHelp" placeholder="Enter Receiver Ethereum Address">
                            <small id="receiverHelp" class="form-text text-muted">Please provide receiver valid public
                                ethereum
                                address.</small>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="createPackage()"
                        [disabled]="!packageDetails.valid">Save Changes</button>
                </div>
            </div>
        </div>
    </div> -->

</div>
