<div class="background">
        <section >
                <div class="login-box">
                    <div class="white-box">
                            <div class="form-group text-center">
                                <div class="col-xs-12">
                                     <img src="../../../assets/img/background.jpg" style="width: 225px; height: 225px;" />
                                </div>
                            </div>
                            <div class="form-group  text-center">
                                <div class="col-xs-12">
                                   <h4><b>Welcome to Pharma Supplychain</b></h4>
                                    <h6>Supplychain using Ethereum smart contract, web3 and many more.</h6>
                                </div>
                            </div>
                            <div class="form-group text-center">
                                 <div class="col-xs-6 p-b-20">
                                    <a href="user" class="btn btn-rounded btn-block btn-info">Log In</a>
                                </div>

                                <div class="col-xs-6 p-b-20">
                                        <a href="admin" class="btn btn-rounded btn-block btn-primary">Get Code</a>
                                        <!-- <a href="https://github.com/kamalkishorm/Blockchain_SupplyChain" class="btn btn-rounded btn-block btn-primary">Get Code</a> -->
                                    </div>
                            </div>   
                    </div>
                </div>
            </section>
</div>