<!-- header -->
<!-- <nav class="navbar">
    <div class="navbar-brand">
        <a class="navbar-item" style="color:whitesmoke; text-align:center;">
                <h1>Pharmaceutical SupplyChain</h1>
        </a>
    </div>
</nav>

<section class="pagemaintain"> -->
<div id="wrapper">
    <layout-header></layout-header>
    <div>
            <router-outlet></router-outlet>
    </div>
    <layout-footer></layout-footer>
</div>
<!-- </section>
footer
<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <p>
                Made with <img src="../assets/img/478533.svg" style="width: 30px;"> by <a href="https://github.com/kamalkishorm">Kamal Kishor Mehra</a>
            </p>
        </div>
    </div>
</footer>    -->